<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="dk.ostebaronen.droid.smssendsample" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />
	<application android:label="SMS Send Sample" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.SEND_SMS" />
</manifest>